/* original styles.css */

.App {
  font-family: sans-serif;
  text-align: center;
}
.mainC8R {
  display: flex;
  flex-wrap: wrap;
  margin: 1em 0em;
  padding: 1em;
  justify-content: center;
}

.ToDoC8R {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 20em;
  justify-content: center;
}

.CompletedToDosC8R {
  flex: 1;
  min-width: 20em;
  justify-content: center;
}

.tableHeader {
  width: 100%;
}

.tableRow {
  display: flex;
}
